.list__item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;

    span{
        cursor: pointer;
        margin:  0 0 0 10px;
    }
}

.task-input{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 0 5px 10px;
    line-height: 30px;
    font-size: 20px;

    &:focus {
        outline: 1px solid #ebebeb;
    }
}