.login-form,
.register-form{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    &__button{
        width: 100%;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: #006080;
        color: white;
        padding: 5px 0;
        font-size: 20px;
        margin: 0 0 10px 0;
    }
}